H0F0SZ_1013/H0F0SZ_mozi.dtd

<!ELEMENT mozi (film*)>
<!ELEMENT film (rendezo+, szinesz+, iro+)>
<!ATTLIST film id ID #REQUIRED mufaj (horror|dráma|scifi) #REQUIRED>
<!ELEMENT rendezo EMPTY>
<!ATTLIST rendezo id ID #REQUIRED nev CDATA #REQUIRED>
<!ELEMENT szinesz EMPTY>
<!ATTLIST szinesz id ID #REQUIRED nev CDATA #REQUIRED>
<!ELEMENT iro EMPTY>
<!ATTLIST iro id ID #REQUIRED>