H0F0SZ_0923/VR_orarend.dtd

<!ELEMENT orarend (ora+)> 
<!ELEMENT ora (targy,idopont,helyszin,oktato,szak)+ >
<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap, tol, ig)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>
<!ATTLIST ora 
	id ID #REQUIRED
	tipus CDATA #REQUIRED>